@import 'base/_variables';
@import 'components/_buttons';
@import 'components/_cards';
@import 'components/_forms';
@import 'layout/_footer';
@import 'layout/_header';
@import 'layout/_curso';
@import 'layout/_login';

body {
    margin: 0px;
}

body.privado {
    display: none; 
}

body.auth-ready {
    display: block;
}

.cargando {
    grid-column: 1 / -1; // Se centra en el grid
    text-align: center;
    font-family: $tipografia;
    color: $colorTexto;
    padding: 50px;
    // Aquí puedes añadir la animación de pulso que vimos antes
    animation: pulse 1.5s infinite ease-in-out;
}
