<header class="header-principal">
    <div class="logo">
        <a href="/">
            <img src="/images/logoFercave.png" alt="Logo Fercave" class="logo-img">
            <span>FORMACIÓN FERCAVE</span>
        </a>
    </div>

    <div class="usuarios">
        <div class="perfil-usuario">
            <i class="fas fa-user-circle"></i>
            <span id="nombre-empleado">Usuario</span> 
            <button class="btn-salir" title="Cerrar Sesión">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
    </div>
</header>
